* {
    box-sizing: border-box;
  }
  body, html{
    font-family: 'Noto Sans HK', sans-serif;
    height: 100%;
    color: whitesmoke;
    /* background: linear-gradient(orange 55%, black 45%); */
    background: rgb(39,35,42);
    background: linear-gradient(90deg, rgba(39,35,42,1) 32%, rgba(205,96,8,0.9392799356070554) 95%, rgba(181,163,137,0.8300362381280637) 100%);
    margin: 0;
    font-size: 15px;
  }
  .container{
    display: block;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 500px;
    padding: 5px 10px 10px 10px;
  }
  
  h2 {
      color: #C97B33;
  }
 p{
   line-height: 1.4em;
 }
  main{
    width: auto;
    height: 500px;
    padding: 40px;
    border-radius: 5px;
  }
 
  fieldset {
    width: 50%;
    height: 50%;
    border: none;
  }
  /*hide the browser default radio buttons*/
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* customize the label */
label{
    color: black;
    background-color: orange;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    border: solid 1px black;
    cursor: pointer;
    border-radius: 3px;
  }
label
  input[type="radio"] span{
    line-height: 7em;
    transition: all 1s ease-in;
  }
  label:hover{
    background-color: orangered;
  }
  label span{
    font-weight: 600;
    font-size: 14px;
    
  }
  /*button styles*/
  button{
    background: #DCEEDE;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border:0;
    transition: 0.2s ease-in all;
}
input,button:hover{
  cursor: pointer;
}
.selected{
  background-color: #F4D03F
}
.green{
  color: green;
}
.red{
  color: red;
}
.selectError{
  color: red;
}
.checked{
  background-color: orangered;
  opacity: 1.8;
  
}



